.profile {
  height: 100%;
}

.img {
  width: 100%;
}

.description {
  padding: 20px;
  background: white;
  margin: 20px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px #ccc;
  display: flex;
  flex-wrap: wrap;
}

.jobLooking {
  display: flex;
  align-items: center;
}

.jobIcon {
  width: 20px;
  margin-left: 10px;
}

.fullName {
  margin-bottom: 5px;
}

.contacts {
  padding-left: 15px;
}

.formError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}

.profilePhoto {
  width: 150px;
}