.img {
  width: 100%;
}

.description {
  padding: 20px;
}

.jobLooking {
  display: flex;
  align-items: center;
}

.jobIcon {
  width: 20px;
  margin-left: 10px;
}

.fullName {
  margin-bottom: 5px;
}

.contacts {
  padding-left: 15px;
}

.formError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}