.navWrap {
    grid-area: n;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.item {
    margin-bottom: 7px;
}

.itemLink {
    text-decoration: none;
    color: grey;
}

.itemLink:hover {
    color: #333333;
}

.activeLink {
    color: black;
}

