.mainWrap {
    display: grid;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 10vh 90vh;
    grid-template-columns: 2fr 10fr;
}

.content {
    grid-area: c;
    background: #EDEEF0;
}

.loader {
    background: #cccccc;
    display: flex;
    justify-content: center;
}

.styleStatus {
    display: flex;
}

.styleStatus span {
    margin-right: 5px;
}