.mainWrap {
    background: #EDEEF0;
   /* display: grid;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 10vh 100%;
    grid-template-columns: 2fr 10fr;*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'n c';
    /*grid-template-columns: 2fr 10fr;*/
    grid-template-columns:  minmax(5em, 20%) 10fr;
    /*grid-template-columns: repeat(auto-fill,minmax(300px,1fr));*/

}

.content {
    grid-area: c;
    margin-top: 10vh;
}

.loader {
    background: #cccccc;
    display: flex;
    justify-content: center;
}

.styleStatus {
    display: flex;
}

.styleStatus span {
    margin-right: 5px;
    margin-bottom: 5px;
}